[Unit]
Description=Mailbox synchronization
ConditionPathExists=/dev/yubikey

[Service]
Type=oneshot
ExecStart=/home/maximilian/.config/mail/mail-sync all

[Install]
WantedBy=default.target
