[user]
	email = maximilian@schmidt.so
	name = Maximilian Schmidt
	signingKey = D6C281FAC8EB13167F1FE49C4381398EA6FC8638
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgSign = true
[init]
    templatedir = ~/.git-templates/
	defaultBranch = main
[pull]
	rebase = true
[sendemail]
    smtpserver = /usr/bin/msmtp
    smtpserveroption = -a
    smtpserveroption = Mailbox
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
